name: CI
on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

jobs:
  docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Inject environment variables 
        run: sed -i 's|__API__URL__|'"$BACKEND_URL"'|g'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set IMAGE_TAG
        run: echo "IMAGE_TAG=${GITHUB_SHA::8}" >> $GITHUB_ENV

      - name: Build docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/investor-frontend:$IMAGE_TAG .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/investor-frontend:$IMAGE_TAG ${{ secrets.DOCKERHUB_USERNAME }}/investor-frontend:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/investor-frontend:$IMAGE_TAG
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/investor-frontend:latest
